body {
    background-color: #17151c;
}

#titulo {
    color: #ffe4c4;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  
  .form-register {
    width: 400px;
    background: #17151c;;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000000;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #937421;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #937421;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.referidos1{
  text-align: left;
  height: 70px;
  
  
  
}
.referidos1 p {
  
  border-radius: 12px;
  background-image: url(https://img.freepik.com/vector-gratis/escalas-tecno-fondo-placas-metal-negro-decoracion-traceria-abstraccion-oscura_79145-563.jpg?size=626&ext=jpg);
  margin-top: auto;
  margin-bottom: auto;
  padding: 0px;
  display: flex;
  justify-content: left;
  align-items: left;
  

}

.referidos1 a:hover{
  
  text-decoration: none;
  color: #dce1ac;
  
  transform: scale(1.4);
}


.referidos1 :link{
  color: #e1b53d;;
}

.referidos1 :visited{
  color: #e1b53d;;

}

.ref-home {
  
  
  padding: 5px; 
  margin: 5px;
  
  background: rgba( 147, 116, 33, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 7.5px );
  -webkit-backdrop-filter: blur( 7.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: ease;
  
}
.ref-productos {
  
  padding: 5px;
  margin: 5px;
  
  background: rgba( 147, 116, 33, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 7.5px );
  -webkit-backdrop-filter: blur( 7.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: ease;
  
}
.ref-contacto {
  
  padding: 5px;
  margin: 5px;
  padding: 5px;
  background: rgba( 147, 116, 33, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 7.5px );
  -webkit-backdrop-filter: blur( 7.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: ease;
}
.ref-blog {
  
  padding: 5px;
  margin: 5px;
  padding: 5px;
  background: rgba( 147, 116, 33, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 7.5px );
  -webkit-backdrop-filter: blur( 7.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: ease;
}

.hr {
    height: 15px;
    
    border: solid 3px #000000;
    border-radius: 12px;
    background-image: url(https://img.freepik.com/vector-gratis/escalas-tecno-fondo-placas-metal-negro-decoracion-traceria-abstraccion-oscura_79145-563.jpg?size=626&ext=jpg)
}
