body {
    background-color: #17151c;
}

.titulo {
    font-family: "Anybody";
    font-size: 1,3em;
    text-decoration: underline;
    color: #746c89;
    text-align: left;
    
    
}

.texto {
    font-family: "Poppins";
    font-size: 1em;
    text-align: left;
    color: #746c89;

    width: 500px;
    height: 100px;
    
    display: flex;
    flex-direction: column;
}

.hr {
    height: 15px;
    
    border: solid 3px #000000;
    border-radius: 12px;
    background-image: url(https://img.freepik.com/vector-gratis/escalas-tecno-fondo-placas-metal-negro-decoracion-traceria-abstraccion-oscura_79145-563.jpg?size=626&ext=jpg)
}

.p {
    width: 100px;
    height: 250px;
}

.contenedor {
    padding: 5px;
    margin: 5px;

    position: relative;
    display: inline-block;
}

iframe {
    position: absolute;
    right: 30px;
    top: 65px;

    border:solid 5px #17151c;
    border-radius: 12px;
}

.referidos1{
    text-align: left;
    height: 70px;
    
    
    
}
.referidos1 p {
    
    border-radius: 12px;
    background-image: url(https://img.freepik.com/vector-gratis/escalas-tecno-fondo-placas-metal-negro-decoracion-traceria-abstraccion-oscura_79145-563.jpg?size=626&ext=jpg);
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px;
    display: flex;
    justify-content: left;
    align-items: left;
    

}

.referidos1 a:hover{
    
    text-decoration: none;
    color: #dce1ac;
    
    transform: scale(1.4);
}


.referidos1 :link{
    color: #e1b53d;;
}

.referidos1 :visited{
    color: #e1b53d;;

}

.ref-home {
    
    
    padding: 5px; 
    margin: 5px;
    
    background: rgba( 147, 116, 33, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease;
    
}
.ref-productos {
    
    padding: 5px;
    margin: 5px;
    
    background: rgba( 147, 116, 33, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease;
    
}
.ref-contacto {
    
    padding: 5px;
    margin: 5px;
    padding: 5px;
    background: rgba( 147, 116, 33, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease;
}
.ref-blog {
    
    padding: 5px;
    margin: 5px;
    padding: 5px;
    background: rgba( 147, 116, 33, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease;
}