body {
    background-color: #17151c;
}

.titulo {
    font-family: 'Anybody', cursive;
    font-size: 20px;
    font-weight: 600;
    color: #937421;
    text-align: left;
    text-decoration: underline;
}

#tabla1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Poppins", Anybody;
    display: flex;
    flex: content;
    flex-direction: column;
    justify-content: space-between;
    color: #937421;
    
    background-color: #17151c;
   
    position: relative;
    
}

#tabla-head {
    padding: 5px;
    margin: 5px;

    height: 30px;
    width: 30px;
}

.tabla-body1 {
    padding: 5px;
    margin: 5px;
    height: 30px;
    width: 30px;
}
.tabla-body2 {
    padding: 5px;
    margin: 5px;
    height: 30px;
    width: 30px;
}
.tabla-body3 {
    padding: 5px;
    margin: 5px;
    height: 30px;
    width: 30px;
}
.tabla-body4 {
    padding: 5px;
    margin: 5px;
    height: 30px;
    width: 30px;
}

#publicidad {
  display: flex;

  justify-content: center;

  display:inline 
  inline;
  
  

  

}

.img-1 {
    margin: 5px 5px 5px 30px;
    padding: 5px 5px 5px 30px;
    
    width: 440px;
    height: 440px;
}

.img-2 {
    margin: 5px;
    padding: 5px;
    
    width: 440px;
    height: 440px;
}

.img-3 {
    margin: 5px 30px 5px 5px;
    padding: 30px 5px 5px 5px;
    
    width: 440px;
    height: 440px;
}

hr {
    
    height: 15px;
    
    border: solid 3px #000000;
    border-radius: 12px;
    background-image: url(https://img.freepik.com/vector-gratis/escalas-tecno-fondo-placas-metal-negro-decoracion-traceria-abstraccion-oscura_79145-563.jpg?size=626&ext=jpg)

}

#referidos {
    text-decoration: none;
    
    font-size: 2em;
    font-family: 'Poppins', sans-serif;

    color: #000000;


}

.referidos1 {
    text-align: center;
}
.referidos1 p {
    border: solid 5px #000000;
    border-radius: 12px;
    background-image: url(https://img.freepik.com/vector-gratis/escalas-tecno-fondo-placas-metal-negro-decoracion-traceria-abstraccion-oscura_79145-563.jpg?size=626&ext=jpg)

}

.referidos1 a:hover{
    
    text-decoration: none;
    color: aquamarine;
    
    
}

.referidos1 :link{
    color: #937421;
}

.referidos1 :visited{
    color: #937421;

}

.ref-home {
    
    
    padding: 15px 0px 0px 30px;
    margin: 15px;
}
.ref-productos {
    
    padding: 15px;
    margin: 15px;
    
}
.ref-contacto {
    
    padding: 15px;
    margin: 15px;
    
}
.ref-blog {
    
    padding: 15px;
    margin: 15px;
    
}
