body {
    background-color: #17151c;
}

.titulo {
    font-family: 'Anybody', cursive;
    font-size: 20px;
    font-weight: 600;
    color: #937421;
    text-align: left;
    text-decoration: underline;
}

#tabla1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Poppins", Anybody;
    display: flex;
    flex: content;
    flex-direction: column;
    justify-content: space-between;
    color: #937421;
    
    background-color: #17151c;
   
    position: relative;
    
}

#tabla-head {
    padding: 5px;
    margin: 5px;

    height: 30px;
    width: 30px;
}

.tabla-body1 {
    padding: 5px;
    margin: 5px;
    height: 30px;
    width: 30px;
}
.tabla-body2 {
    padding: 5px;
    margin: 5px;
    height: 30px;
    width: 30px;
}
.tabla-body3 {
    padding: 5px;
    margin: 5px;
    height: 30px;
    width: 30px;
}
.tabla-body4 {
    padding: 5px;
    margin: 5px;
    height: 30px;
    width: 30px;
}

#publicidad {
  display: flex;

  justify-content: center;

  display:inline 
  inline;
  
  

  

}

.img-1 {
    margin: 5px 5px 5px 30px;
    padding: 5px 5px 5px 30px;
    
    width: 440px;
    height: 440px;
}

.img-2 {
    margin: 5px;
    padding: 5px;
    
    width: 440px;
    height: 440px;
}

.img-3 {
    margin: 5px 30px 5px 5px;
    padding: 30px 5px 5px 5px;
    
    width: 440px;
    height: 440px;
}

hr {
    
    height: 15px;
    
    border: solid 3px #000000;
    border-radius: 12px;
    background-image: url(https://img.freepik.com/vector-gratis/escalas-tecno-fondo-placas-metal-negro-decoracion-traceria-abstraccion-oscura_79145-563.jpg?size=626&ext=jpg)

}

.referidos1{
    text-align: left;
    height: 70px;
    
    
    
}
.referidos1 p {
    
    border-radius: 12px;
    background-image: url(https://img.freepik.com/vector-gratis/escalas-tecno-fondo-placas-metal-negro-decoracion-traceria-abstraccion-oscura_79145-563.jpg?size=626&ext=jpg);
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px;
    display: flex;
    justify-content: left;
    align-items: left;
    

}

.referidos1 a:hover{
    
    text-decoration: none;
    color: #dce1ac;
    
    transform: scale(1.4);
}


.referidos1 :link{
    color: #e1b53d;;
}

.referidos1 :visited{
    color: #e1b53d;;

}

.ref-home {
    
    
    padding: 5px; 
    margin: 5px;
    
    background: rgba( 147, 116, 33, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease;
    
}
.ref-productos {
    
    padding: 5px;
    margin: 5px;
    
    background: rgba( 147, 116, 33, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease;
    
}
.ref-contacto {
    
    padding: 5px;
    margin: 5px;
    padding: 5px;
    background: rgba( 147, 116, 33, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease;
}
.ref-blog {
    
    padding: 5px;
    margin: 5px;
    padding: 5px;
    background: rgba( 147, 116, 33, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease;
}
